.main{
    margin: 30px;
}
.bod{
    background:url(../image/6.jpg) no-repeat center;
    background-size:100% 100%;
}
.btn-publish{
    float:right;
    margin-bottom:15px;
}

.media-object{
    width:38px;
    height:38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.bodu{
    background:url(../image/11.jpg) no-repeat center;
    background-size:100% 100%;
    height: 700px;
}
.paging1{
    position:absolute;
    left:555px;
    top:440px;
}
.profile .section{
    margin-top: 73px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}